* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c0cbcd;
    color: #5c3d7e;
}

main section {
    width: 950px;
    margin-bottom: 2rem;
    padding: 2rem;
    
}

main h1 {
    margin-bottom: 1rem;
    text-align: center;
}

div.box {
    padding: 2rem;
    background-color: #5c3d7e;
    color: #c0cbcd;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

div.form-wrapper {
    display: flex;
}

div.row {
    display: flex;
    align-items: center;
    margin: 0 1rem 1rem 0;
}

div input,
div p {
    margin: .2rem;
}

div input {
    background-color: #c0cbcd;
    color: #5c3d7e;
    padding: .2rem;
}

div button {
    border-radius: 25px;
    padding: .2rem 1rem;
    background-color: #c0cbcd;
    color: #5c3d7e;
    border: none;
}

div.ticket-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    background-color: #c0cbcd;
    color: #5c3d7e;
    height: 8rem;
    border-radius: 25px;
    padding: 2rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
    margin-bottom: .2rem;
}

h3 {
    font-size: .9rem;
}